## Build output
bin/
obj/
out/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider
.idea/

## NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Test results
TestResults/
*.trx
*.coveragexml

## OS
.DS_Store
Thumbs.db
